@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

table {
	text-align: center;
	border: 1px solid #dddddd;
}

table thead tr th {
	background-color: #eeeeee;
	text-align: center;
}

#write {
	float: right;
}

p {
	text-align: left;
	font-family: 'insungitCutelivelyjisu';
	font-size: 30px;
	margin-bottom: 20px;
}

.pagenum { 
	text-decoration:none; 
	color:black; 
	font-size:30px;
	}