@font-face {
    font-family: 'insungitCutelivelyjisu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#wrapper {
	width: 1000px;
	margin: auto;
}

header {
	width: 100%;
	height: 200px;
	background-color: #F3FAFE;
	margin-top: auto;
}

header nav.login {
	float: right;
	width: 70%;
	margin-top: 1px;
}

nav.login ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	float: right;
}

nav.login ul li {
	display: inline;
	float: left;
	font-weight: bold;
	margin: 10px;
	margin-top: 0px;
	font-size: 16px;
	font-family: 'OTWelcomeRA';
}

nav.login ul li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 16px;
	font-family: 'OTWelcomeRA';
}

header div {
	margin-left: 30px; 
	margin-bottom: 10px;
}

header nav.home {
	float: left;
	width: auto;
	margin-top: 10px;
}

nav.home ul {
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
}

nav.home ul li {
	display: inline;
	float: left;
	font-weight: bold;
	margin: 15px;
	margin-top: 0px;
	font-size: medium;
}

nav.home ul li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 20px;
	font-family: 'OTWelcomeRA';
}

section {
	width: 80%;
	float: left;
	margin-bottom: 50px;
	margin-top: 10px;
}

 section p {
	text-align: left;
	font-family: 'insungitCutelivelyjisu';
	font-size: 40px;
	margin-bottom: 20px;
}

section div {
	width: 700px;
	height: 550px;
}

section div img {
	border: 20px solid #F5FAFD;
}

aside {
	width: 20%;
	float: right;
	margin-top: 70px;
	margin-bottom: 50px;
}

nav.aside ul {
	list-style-type: none;
	display: block;
	padding: 0px;
	margin-right: 50px;
}

nav.aside ul li {
	margin: 35px;
	display: block;
}

aside h1 {
	text-align: center;
	font-family: 'Humanbumsuk';
}

footer {
	clear: both;
	margin-bottom: 1px;
	text-align: center;
}

footer ul {
	list-style-type: none;
	float: center;
}

footer ul li {
	display: inline;
	margin: 20px;
}

footer ul li a {
	text-decoration:none; 
	color:black; 
}