@font-face {
    font-family: 'insungitCutelivelyjisu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #F4E7E6;
	}
	
h1 {
	text-align: center;
	font-family: 'insungitCutelivelyjisu';
	}
	
form {
	border: 3px solid #e3f3fd; 
	width: 500px; 
	background-color: #F3FAFE; 
	}
	
#container {
	display: flex; 
	justify-content: center;
	}
	
#inner {
	margin: 20px;
	}
	
#submit {
	position: center; 
	float: center; 
	display: center;
	}
	
button {
	float: right;
}

.btn {
	margin:20px;
}